<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.materialdesign"
    android:versionCode="3"
    android:versionName="1.1.1.150719" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="This is my Test case"
        android:targetPackage="me.materialdesign" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".appliaction.LaughterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.WithoutActionBar" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".activities.ImagePreviewActivity"
            android:label="@string/title_activity_image_priview" />
        <activity
            android:name=".activities.MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SetPatternPwdActivity" />
        <activity android:name=".activities.UnlockActivity" />
        <activity android:name=".activities.AutoZoomImageActivity" />

        <!--<meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />-->

        <activity android:name=".activities.AboutAppActivity" />
        <activity android:name=".activities.ComponentPreviewActivity" />
        <activity
            android:name=".activities.EventBusMemLeakActivity"
            android:label="@string/title_activity_event_bus_mem_leak"
            android:theme="@style/AppTheme.WithoutActionBar" />
        <activity
            android:name=".activities.RxJavaActivity"
            android:label="@string/title_activity_rxjava"
            android:theme="@style/AppTheme.WithoutActionBar" >
        </activity>
    </application>

</manifest>
